/* Text style*/
@mixin gilory-thick-text ($color, $size) {
    color: $color;
    font-size: $size;
    font-family: 'Gilory', sans-serif;
    font-weight: 800;
}

@mixin gilory-thin-text ($color, $size) {
    color: $color;
    font-size: $size;
    font-family: 'Gilory', sans-serif;
    font-weight: 300;
}

@mixin gilory-semibold-text ($size) {
    color: #252525;
    font-size: $size;
    font-family: 'Gilroy-SemiBold', sans-serif;
}

@mixin gilory-medium-text ($color, $size) {
    color: $color;
    font-size: $size;
    font-family: 'Gilroy-Medium', sans-serif;
}

@mixin gilory-bold-text ($color, $size) {
    color: $color;
    font-size: $size;
    font-family: 'Gilroy-Bold', sans-serif;
    text-transform: uppercase;
}

@mixin gilory-regular-text ($color, $size) {
    color: $color;
    font-size: $size;
    font-family: 'Gilroy-Regular', sans-serif;
}

<<<<<<< HEAD
=======

>>>>>>> ddf88a76e82c4fa4c19778a666b9883c9c420767
/* Display flex */
@mixin flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-end-center {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@mixin flex-start-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@mixin flex-end-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;   
}

@mixin flex-center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

@mixin flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}


/* Link btn*/
@mixin link-btn-white {
    background-color: #ffffff;
    border-radius: 50px;
    overflow: hidden;  
}

@mixin link-btn-grey {
    background-color: #252525;
    border-radius: 50px;
    overflow: hidden; 
}