@import '_variables';
@import '_mixins';

.about-section__me {
<<<<<<< HEAD
    padding: 70px 0;
=======
    padding: 50px 0;
>>>>>>> ddf88a76e82c4fa4c19778a666b9883c9c420767
    border-bottom: 1px solid #252525;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.about-section__me-title {
    padding: 0 70px;
    @include  flex-start-column;
    align-items: flex-start;
    flex: 1 1 0;
   

    h1 {
        @include gilory-thin-text ($main-text-color, 62px);
        align-self: stretch;

        span {
            @include gilory-thick-text ($main-text-color, 62px);
        }
    }
}

.about-section__me--wrap {
    background-color: #252525;
<<<<<<< HEAD
    width: 485px;
    padding: 60px 70px 60px 0;
=======
    max-width: 100%;
    padding: 60px 70px 60px 155px;
>>>>>>> ddf88a76e82c4fa4c19778a666b9883c9c420767
    @include  flex-end-column;
    gap: 30px;

    .about-section__me--text {
        @include gilory-medium-text ($white-color, 32px);
        text-transform: uppercase;
        line-height: 32px;
        align-self: stretch; 
        text-align: right;
    }

    .about-section__me--icons {
        @include flex-end-center;
        gap: 20px;

        li, a ,img {
            width: 50px;
            height: 50px;
        }
    }   
}
