@import '_variables';
@import 'fonts';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F3EA;
    color: $main-text-color;
    font-size: 18px;
    font-family: 'Gilory', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}