
.footer {
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 93%;
    height: fit-content;
    padding: 40px 0;

  }
  .footer__text {
    color: var(--gray);
    font-family: 'Gilroy-Regular';
    font-size: 18px;
    span {
      font-family: 'Gilroy-SemiBold';

      color: var(--gray);
    }
  }
  &__socials-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  a {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
  }
  @media  screen and (max-width: 768px) {
    .container {
      flex-direction: column;
      gap: 20px;
      padding: 20px 0;
    }
    .footer{
      &__text {
        color: var(--gray);
        font-size: 13px;
      }
    }
  }
}