@import '_variables';
@import '_mixins';

.header__container {
<<<<<<< HEAD
    padding: 40px 70px;
    @include flex-start-column;
    gap: 30px;
=======
    padding-top: 20px;
    @include flex-start-column;
    gap: 30px;   
>>>>>>> ddf88a76e82c4fa4c19778a666b9883c9c420767
}

.header__wrap {
    padding-bottom: 30px;
<<<<<<< HEAD
    @include flex-space-between;
=======
    width: 93%;
    @include flex-space-between;
    margin: 0 auto;
>>>>>>> ddf88a76e82c4fa4c19778a666b9883c9c420767

    .header__logo {
        display: flex;
        gap: 10px;
        align-items: center;

        &--img {
            width: 91px; 
            height: 35px;
        }
    
        &--text {
            @include gilory-thick-text ($black-color, 35px);

            &::after {
                content: "\00AE";
                font-size: 25px;
                vertical-align: top;
                display: inline-block;
            }

            span {
<<<<<<< HEAD
                font-family: 'Gilroy-Medium', sans-serif;
=======
                font-family: 'Gilroy-Medium';
>>>>>>> ddf88a76e82c4fa4c19778a666b9883c9c420767
                font-weight: 400;
                text-transform: uppercase;
            }
        }
    }

    nav {
        .header__menu {
            padding: 20px 0;
            @include gilory-semibold-text (25px);
<<<<<<< HEAD
=======
            font-family: var(--gilroy-semibold);
            font-size: 25px;
            color: var(--gray);
>>>>>>> ddf88a76e82c4fa4c19778a666b9883c9c420767
        }
        
    }
}

.header__title {
    text-align: center;
    @include gilory-semibold-text (150px);
    text-transform: uppercase;

    span {
        font-family: 'Gilroy', sans-serif;
        font-weight: 300;
        text-transform: capitalize;
    }
}


.header__scroll-down {
    @include flex-center;

    &--img {
        padding: 0 10px;
    }
}

.hero-photo img {
<<<<<<< HEAD
    width: 1920px;
=======
    width: 100%;
>>>>>>> ddf88a76e82c4fa4c19778a666b9883c9c420767
    height: 956px;
}

