@import '_variables';
@import '_mixins';

.logos-section__list {
<<<<<<< HEAD
    padding: 70px;
=======
    padding: 70px 0;
>>>>>>> ddf88a76e82c4fa4c19778a666b9883c9c420767
    border-bottom: 1px solid #252525;
    @include flex-center;
    gap: 40px;
    flex-wrap: wrap;

    .logos-section__item {
        @include flex-center-column;

        a {
            @include link-btn-white;
            height: 70px;
            padding: 15px 40px;
<<<<<<< HEAD
=======
            @include flex-center-column;
>>>>>>> ddf88a76e82c4fa4c19778a666b9883c9c420767
        }
    }
}