@import '_variables';
@import '_mixins';
<<<<<<< HEAD
@import 'default';
@import 'fonts';
@import 'header';
@import 'medias';
=======
@import 'fonts';
@import 'header';
@import 'medias';
@import 'reset';
@import 'colors';
@import 'whatIdo';
@import 'myclients';
@import 'contact';
@import 'footer';
@import 'about-me';
@import 'logos';
@import 'selected-work';
@import 'team';

body {
  background-color: var(--bg-color);
  font-family: 'Gilroy-Regular';
  margin: 0 auto;
  font-style: normal;
  box-sizing: border-box;

  h3 {
    text-transform: uppercase;
    font-size: 150px;
    font-weight: 300;
    text-align: center;
    color: var(--dark-gray);

  }
  h4 {
    text-transform: uppercase;
    font-size: 212px;
    font-weight: 300;
    text-align: center;
    color: var(--dark-gray);
  }
}
>>>>>>> ddf88a76e82c4fa4c19778a666b9883c9c420767
