@import '_variables';
@import '_mixins';

@media screen and (min-width: 1200px)  {
    .header__container,
    .about-section__me,
    .logos-section__list,
    .selected-section__container,
    .team-section__container {
<<<<<<< HEAD
        width: 1920px;
=======
        width: 100vw;
>>>>>>> ddf88a76e82c4fa4c19778a666b9883c9c420767
        min-width: 1200px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {

    /* Header */
    .header__container {
        max-width: 1200px;
        width: 100%;
<<<<<<< HEAD
        padding: 40px 30px;
=======
>>>>>>> ddf88a76e82c4fa4c19778a666b9883c9c420767
    
        .header__title {
            width: 100%;
            @include gilory-semibold-text (120px);
        }
    }

.hero-photo img {
    max-width: 1200px;
    width: 100%;
    height: 956px;
}


/* About me */
.about-section__me {
<<<<<<< HEAD
    max-width: 1200px;
=======
>>>>>>> ddf88a76e82c4fa4c19778a666b9883c9c420767
    width: 100%;
    padding: 0;
    flex-direction: column; 
    align-items: center; 

    .about-section__me-title {
        padding: 30px;
        text-align: center; 

        h1 {
            @include gilory-thin-text ($main-text-color, 52px);
        }

        span {
            @include gilory-thick-text ($main-text-color, 52px);
        }
    }
    
    .about-section__me--wrap {
        width: 100%; 
        padding: 40px 30px 40px 0;

        .about-section__me--text {
            @include gilory-medium-text ($white-color, 28px);
            line-height: 28px;
        }
    }
}


/* Logos */
.logos-section__list {
    max-width: 1200px;
    width: 100%;
<<<<<<< HEAD
    padding: 40px;
=======
>>>>>>> ddf88a76e82c4fa4c19778a666b9883c9c420767
    gap: 20px;
}


/* Selected work*/
.selected-section__container {
    max-width: 1200px;
    width: 100%;
<<<<<<< HEAD
    padding: 30px;
=======
>>>>>>> ddf88a76e82c4fa4c19778a666b9883c9c420767
    gap: 40px;


    .selected-section__title {
        padding: 0 20px;

        h1 {
            @include gilory-thin-text ($main-text-color, 80px);
            letter-spacing: 3.20px;
        }
    }

    .selected-section__list {
<<<<<<< HEAD
        flex-direction: column;
    }

    .selected-section__item {
        display: flex;
        gap: 30px;
    }
    

    .list--row1,
    .list--row2 {
        width: 100%;
        display: flex;
        flex-direction: column; 
        gap: 20px; 
    }

    .list--row1 {
=======
        display: flex;
        flex-direction: column;
    
>>>>>>> ddf88a76e82c4fa4c19778a666b9883c9c420767
        .selected-section__item:nth-child(2) {
            order: 1;
        }
    
        .selected-section__item:nth-child(3) {
            order: 2;
        }
    
        .selected-section__item:nth-child(1) {
            order: 3;
        }
<<<<<<< HEAD
    } 

    .list--row2 {
        .selected-section__item:nth-child(4) {
            order: 1;
        }
    
        .selected-section__item:nth-child(5) {
            order: 2;
        }
    
        .selected-section__item:nth-child(6) {
            order: 3;
        }
    } 
=======
    }   
>>>>>>> ddf88a76e82c4fa4c19778a666b9883c9c420767
    
    .item--wrap {
        align-self: stretch; 
        height: auto; 
        justify-content: flex-start; 
<<<<<<< HEAD
    }
=======
    }    
>>>>>>> ddf88a76e82c4fa4c19778a666b9883c9c420767
}


/* Team */
.team-section__container {
    max-width: 1200px;
    width: 100%;
<<<<<<< HEAD
    padding: 30px;
    gap: 40px;

    .team-section__title {
        padding: 0 30px;
        text-align: center;

        h1 {
            @include gilory-thin-text ($main-text-color, 147px);
        }
    }
    .team-section__list {
        padding: 0 30px;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    .team-section__box {
=======
    gap: 40px;

    .team-section__title {
        padding: 30px;
        text-align: center;

        h1 {
            @include gilory-thin-text ($main-text-color, 130px);
        }
    }
    
    .team-section__list {
        grid-template-columns: repeat(2, 1fr);
    }

    .team-section__box {
        height: auto;
>>>>>>> ddf88a76e82c4fa4c19778a666b9883c9c420767
        width: auto;
    }
    }
}

<<<<<<< HEAD

=======
>>>>>>> ddf88a76e82c4fa4c19778a666b9883c9c420767
@media screen and (min-width:320px) and (max-width: 768px) {
    
    /* Header */
    .header__container {
        max-width: 768px;
        width: 100%;
<<<<<<< HEAD
        padding: 20px;
=======
>>>>>>> ddf88a76e82c4fa4c19778a666b9883c9c420767
    
        .header__wrap {
            .header__logo--text {
                display: none;
            }
        }

        .header__title {
            @include gilory-semibold-text (57px);
        }
    }

    .hero-photo img {
        max-width: 768px;
        width: 100%;
        height: 638px;
    }

<<<<<<< HEAD

    /* About me */
    .about-section__me {
        max-width: 768px;
        width: 100%;
=======
    /* About me */
    .about-section__me {
>>>>>>> ddf88a76e82c4fa4c19778a666b9883c9c420767
        padding: 0;
        flex-direction: column;
        align-items: center; 
    
        .about-section__me-title {
            padding: 30px 20px;
            text-align: center; 
    
            h1 {
                @include gilory-thin-text ($main-text-color, 38px);
            }
    
            span {
                @include gilory-thick-text ($main-text-color, 38px);
            }
        }
        
        .about-section__me--wrap {
            width: 100%; 
            padding: 40px 30px 40px 0;
    
            .about-section__me--text {
                @include gilory-medium-text ($white-color, 28px);
                line-height: 28px;
            }
        }
    }

<<<<<<< HEAD
 
=======
>>>>>>> ddf88a76e82c4fa4c19778a666b9883c9c420767
    /* Logos */
.logos-section__list {
    max-width: 768px;
    width: 100%;
<<<<<<< HEAD
    padding: 30px 20px;
=======
>>>>>>> ddf88a76e82c4fa4c19778a666b9883c9c420767
    gap: 20px;
    flex-direction: column-reverse;
}



/* Selected work*/
.selected-section__container {
<<<<<<< HEAD
    max-width: 768px;
    width: 100%;
    padding: 30px;
    gap: 30px;


=======
    padding: 20px 0;
    max-width: 768px;
    width: 100%;
    gap: 30px;

>>>>>>> ddf88a76e82c4fa4c19778a666b9883c9c420767
    .selected-section__title {
        padding: 0 20px;

        h1 {
<<<<<<< HEAD
            @include gilory-thin-text ($main-text-color, 80px);
=======
            @include gilory-thin-text ($main-text-color, 40px);
>>>>>>> ddf88a76e82c4fa4c19778a666b9883c9c420767
            letter-spacing: 3.20px;
        }
    }

    .selected-section__list {
<<<<<<< HEAD
        flex-direction: column;
    }

    .selected-section__item {
        display: flex;
        gap: 30px;

          .selected-section__img {
            width: auto;
            height: auto;
        }
    }

  

    .list--row1,
    .list--row2 {
        display: flex;
        flex-direction: column; 
        gap: 20px; 
    }

    .list--row1 {
=======
        display: flex;
        flex-direction: column;
        padding: 40px;

>>>>>>> ddf88a76e82c4fa4c19778a666b9883c9c420767
        .selected-section__item:nth-child(2) {
            order: 1;
        }
    
        .selected-section__item:nth-child(3) {
            order: 2;
        }
    
        .selected-section__item:nth-child(1) {
            order: 3;
        }
<<<<<<< HEAD
    } 

    .list--row2 {
        .selected-section__item:nth-child(4) {
            order: 1;
        }
    
        .selected-section__item:nth-child(5) {
            order: 2;
        }
    
        .selected-section__item:nth-child(6) {
            order: 3;
        }
    } 

=======
    }   

    .selected-section__img {
        width: auto;
    }
    
>>>>>>> ddf88a76e82c4fa4c19778a666b9883c9c420767
    .item--wrap {
        align-self: stretch; 
        height: auto; 
        justify-content: flex-start; 
    }

<<<<<<< HEAD

    .selected-section__btn--more {
        width: 100%;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
=======
    .item--btn-wrap {
        .item--btn {
        padding: 15px 18px;
        }
    }
    
    .selected-section__btn--more
    {
        padding: 0;

        a {
            width: 100%;
            display: flex;
            justify-content: center;
>>>>>>> ddf88a76e82c4fa4c19778a666b9883c9c420767
        }
    }
}

<<<<<<< HEAD

=======
>>>>>>> ddf88a76e82c4fa4c19778a666b9883c9c420767
/* Team */
.team-section__container {
    max-width: 768px;
    width: 100%;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
    padding: 30px;
=======
>>>>>>> ddf88a76e82c4fa4c19778a666b9883c9c420767
    gap: 30px;

    .team-section__title {
        padding: 0 20px;
        text-align: center;

        h1 {
            @include gilory-thin-text ($main-text-color, 80px);
        }
    }

    .team-section__list {
<<<<<<< HEAD
        max-width: 768px;
        width: 100%;
        padding: 0 30px;
=======
        width: 100%;
        padding: 30px 0;
>>>>>>> ddf88a76e82c4fa4c19778a666b9883c9c420767
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;

        .team-section__item {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 768px;
            width: 100%;
<<<<<<< HEAD
=======
            
>>>>>>> ddf88a76e82c4fa4c19778a666b9883c9c420767
        }

        .item--img {
            width: 100%;
            height: 418px;
        }

        .item--name-wrap {
            text-align: center;
        }

        .item--socials {
            justify-content: center;
            
        }
    }

    .team-section__box {
        text-align: center;
<<<<<<< HEAD
    }

        .team-section__box--text-bold {
            @include gilory-bold-text ($team-text-color, 50px);
=======
        height: auto;
    
        .team-section__box--text {
            @include gilory-regular-text ($team-text-color, 20px);
        }
        .team-section__box--text-bold {
            @include gilory-bold-text ($team-text-color, 40px);
>>>>>>> ddf88a76e82c4fa4c19778a666b9883c9c420767
        }

        .team-section__box--btn  {
            width: 100%;
<<<<<<< HEAD

            a {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
    

=======
            padding: 10px 0;
            display: flex;
            justify-content: center;
        }
    }
}
>>>>>>> ddf88a76e82c4fa4c19778a666b9883c9c420767
}