@import '_variables';
@import '_mixins'; 

.selected-section__container {
<<<<<<< HEAD
    padding: 70px 0 100px 0;
    border-top: 1px #252525 solid;
    @include flex-start-column;
    align-items: center;
    gap: 50px;
}

.selected-section__title {
    @include flex-center;
    text-align: center;
    padding: 0 70px;
    align-self: stretch;
=======
    height: fit-content;
    width: 100vw;
    border-top: 1px #252525 solid;
}

.selected-section__title {
    text-align: center;
    padding: 70px 70px 0 70px;
>>>>>>> ddf88a76e82c4fa4c19778a666b9883c9c420767

    h1 {
        @include gilory-thin-text ($main-text-color, 135px);
        text-transform: uppercase;
        letter-spacing: 8.48px;
        flex: 1 1 0;
    }
}

.selected-section__list {
<<<<<<< HEAD
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
    gap: 70px;

    .list--row1,
    .list--row2 {
    @include flex-start;
    gap: 40px; 
    }

    .selected-section__item {
        width: 415px; 
=======
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 70px;
    gap: 40px;

    .selected-section__item {
>>>>>>> ddf88a76e82c4fa4c19778a666b9883c9c420767
        display: flex;
        flex-direction: column; 
        justify-content: space-between; 
        align-items: flex-end; 
        align-self: stretch;

        .selected-section__img {
            width: 100%;
            height: 507px;
        }
        
    }

    .item--wrap {
        align-self: stretch;
        height: 126px;
        @include flex-start-column;
        align-items: flex-start;
        gap: 30px;
    }

    .item--title {
        @include gilory-bold-text ($black-color, 40px);
        line-height: 44px;
    }

    .item--btn-wrap {
        @include flex-start;
        gap: 30px; 
    }

    .item--btn {
        @include link-btn-white;
        padding: 15px 30px;
        @include gilory-medium-text ($main-text-color, 18px);
    }

    .item--btn-discover {
        @include link-btn-grey;
        padding: 10px 54px 10px 30px;
        @include gilory-medium-text ($white-color,18px);
        text-transform: capitalize;
        position: relative;
<<<<<<< HEAD
=======
        margin-top: 30px;
>>>>>>> ddf88a76e82c4fa4c19778a666b9883c9c420767

        &::after {
            content: '';
            position: absolute;
            top: 10px;
            right: 24px;
            background-image: url('../images/selected/Frame 2.svg');
            background-repeat: no-repeat;
            background-size: cover;
            width: 17px;
            height: 18px;
        }
    }
<<<<<<< HEAD

    .selected-section__btn--more a {
=======
}


.selected-section__btn--more {
    @include flex-center;
    padding-bottom: 100px;

    a {
>>>>>>> ddf88a76e82c4fa4c19778a666b9883c9c420767
        @include link-btn-white;
        padding: 15px 60px;
        @include gilory-medium-text ($main-text-color, 18px);
    }
<<<<<<< HEAD
}
=======
}
>>>>>>> ddf88a76e82c4fa4c19778a666b9883c9c420767
