@import '_variables';
@import '_mixins'; 

.team-section__container {
<<<<<<< HEAD
    padding: 50px 0;
    border-top: 1px #252525 solid;
    @include flex-end-column;
    gap: 50px;
}

.team-section__title {
    padding: 0 70px;
=======
    border-top: 1px #252525 solid;
}

.team-section__title {
    padding: 70px;
>>>>>>> ddf88a76e82c4fa4c19778a666b9883c9c420767
    @include flex-center;
    align-self: stretch;

    h1 {
<<<<<<< HEAD
        @include gilory-thin-text ($main-text-color, 212px);
=======
        @include gilory-thin-text ($main-text-color, 190px);
>>>>>>> ddf88a76e82c4fa4c19778a666b9883c9c420767
        text-transform: uppercase;
        letter-spacing: 8.48px;
    }
}

.team-section__list {
<<<<<<< HEAD
    padding: 0 70px;
    @include flex-start;
    gap: 30px;
    flex-wrap: wrap;

    .team-section__item {
        flex: 0 0 auto;
        width: 415px;
        padding: 30px 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-direction: column;
=======
    padding: 0 50px 50px 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(415px, 1fr));
    gap: 30px;

    .team-section__item:not(:last-child) {
        width: 100%;
    }

    .team-section__item {
        padding: 30px 0;
        @include flex-center;
>>>>>>> ddf88a76e82c4fa4c19778a666b9883c9c420767
        gap: 40px;
        align-self: stretch;

        &--link {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
    }

<<<<<<< HEAD
    .team-section__item:last-child {
        flex-grow: 1;
    }


=======
>>>>>>> ddf88a76e82c4fa4c19778a666b9883c9c420767
    .item--name-wrap {
        @include flex-start-column;
        gap: 5px;
    }

    .item--name {
        @include gilory-thick-text ($team-text-color, 30px);
        text-transform: uppercase;
    }

    .item--posada {
        @include gilory-medium-text ($team-text-color, 20px);
    }

    .item--img {
<<<<<<< HEAD
        width: 415px;
=======
        width: 100%;
>>>>>>> ddf88a76e82c4fa4c19778a666b9883c9c420767
        height: 507px;
        filter: grayscale(100%); 
    }

    .item--socials {
        @include flex-end-center;
        gap: 10px;

        img {
            width: 30px;
            height: 30px;
        }
    }

<<<<<<< HEAD
    .team-section__box {
        padding: 30px 0;
        height: 634px;
        display: flex;
    
        .team-section__box--container {
=======
        .team-section__box {
>>>>>>> ddf88a76e82c4fa4c19778a666b9883c9c420767
            gap: 15px;
            align-self: stretch; 
            @include flex-center-column;
            align-items: flex-start;
<<<<<<< HEAD
        }

        .team-section__box--text {
=======
        

        &--text {
>>>>>>> ddf88a76e82c4fa4c19778a666b9883c9c420767
            @include gilory-regular-text ($team-text-color, 30px);
            text-transform: uppercase;
            align-self: stretch;
        }

<<<<<<< HEAD
        .team-section__box--text-bold {
=======
        &--text-bold {
>>>>>>> ddf88a76e82c4fa4c19778a666b9883c9c420767
            @include gilory-bold-text ($team-text-color, 64px);
            align-self: stretch;
        }

<<<<<<< HEAD
        .team-section__box--btn {
            @include link-btn-grey;
            padding: 10px 54px 10px 30px;
            @include gilory-medium-text ($white-color,18px);
            text-transform: capitalize;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                top: 10px;
                right: 24px;
                background-image: url('../images/selected/Frame 2.svg');
                background-repeat: no-repeat;
                background-size: cover;
                width: 17px;
                height: 18px;
            }
        }
    }
=======
        &--btn {
            @include link-btn-grey;
            @include gilory-medium-text ($white-color,18px);
            text-transform: capitalize;
            padding: 10px 30px;
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }
}
.team-section__item:last-child {
    width: auto;
    grid-column: span 2;
>>>>>>> ddf88a76e82c4fa4c19778a666b9883c9c420767
}